* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

/* GERAL */
:root {
    --bg-color: #080808;
    --second-bg-color: #131313;
    --text-color: white;
    --main-color: #00ffee;
}

html {
    scroll-behavior: smooth;
    font-size: 60%;
    overflow-x: hidden;
}

body {
    scroll-behavior: smooth;
    background-color: var(--bg-color);
    color: var(--text-color);
}
/*  */

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}
/*  */

/* SEÇÔES/GERAL */
section {
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

.home-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}
span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}
/*  */

/* SEÇÃO HOME */
.home-container h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-container h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 30vw;
    border-radius: 50%;
    box-shadow: 0 0 25px var(--main-color);
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 25px var(--main-color),
        0 0 50px var(--main-color),
        0 0 100px var(--main-color);
}

.home-container p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 2px solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    transition: 0.3s ease-in-out;
    font-weight: 600;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 25px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.texto-animacao {
    font-size: 34px;
    font-weight: 600;
    min-height: 280px;
}

.texto-animacao  span {
    position: relative;
}

.texto-animacao  span::before {
    content: "Web Developer";
    color: var(--main-color);
    animation: words 20s infinite;
}

.texto-animacao  span::after {
    content: "";
    background-color: var(--bg-color);
    position: relative;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: "Desenvolvedor Front-End Júnior";
    }

    21%,
    40% {
        content: "Design Web";
    }

    41%,
    60% {
        content: " Designer UI UX ";
    }

    61%,
    80% {
        content: "Desenvolvedor Web";
    }

    81%,
    100% {
        content: "Teste";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% + 8px);
    }
}

/*  */


/* SEÇÃO FORMAÇÃO */

.title-formacao{
    font-size: 8rem;
    text-align: center;
    margin: 5rem 0;
}

.formacao-section{
    padding: 100px 15px;
    background-color: var(--second-bg-color);
}

.formacao h2{
    margin-bottom: 5rem;
}

.linhaDoTempo-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.linhaDoTempo-container::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 1px);
}

.linhaDoTempo-conteudo{
    margin-bottom: 40px;
    width: 100%;
    position: relative;
}

.linhaDoTempo-conteudo:last-child{
    margin-bottom: 0;
}

.linhaDoTempo-conteudo:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}

.linhaDoTempo-conteudo:nth-child(even){
    padding-left: calc(50% + 30px);
}
.linhaDoTempo-Ponto{
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color),
    0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.linhaDoTempo-data{
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px
}

.linhaDoTempo-texto{
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding:  30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.linhaDoTempo-texto:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.linhaDoTempo-texto h3{
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.linhaDoTempo-texto p{
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
::-webkit-scrollbar-track{
    background-color: var(--bg-color);
    width: 50px;
}

/*  */


/* SEÇÃO SERVIÇOS */
.servicos-section{
    background-color: var(--bg-color);
    color: black;
}

.servicos-section h2{
    font-size: 4rem;
    margin-bottom: 5rem;
    color: white;
}

.servicos-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2.5rem;
}

.servicos{
    background-color: var(--main-color);
    height: 300px;
    border-radius: 3rem;
    border: 5px solid transparent;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.servicos:hover{
    background-color: white;
    color: black;
    border: 5px solid var(--main-color);
    transform: scale(1.03);
}

.servicos .servicos-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    max-height: 200px;
    justify-content: left;
    align-items: baseline;
    padding: 5rem 5rem;
}

.servicos-info h4{
    font-size: 3rem;
    font-weight: 800;
    line-height: 2;
}

.servicos p{
    font-size: 1.6rem;
    font-weight: 600;
    max-height: 1000px;
    line-height: 1.7;
    margin: auto;
}

/*  */

/* SEÇÃO PROJETOS */
.projetos-section{
    background-color: var(--second-bg-color);
}

.projetos-container-box h2{
    font-size: 3rem;
    border-bottom: 3rem;
}

.projetos-container-box{
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.projetos-section .projetos-title{
    margin-bottom: 5rem;
}

.projetos-container-box img{
    width: 10rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px var(--main-color);
}

.container-conteudo-w{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}


.projetos-conteudo{
    /* min-height: 550px;
    max-width: 450px; */
    background: rgba(0, 0, 0, 0.7);
    border: 3px solid rgba(238, 238, 238, 0.2);
    border-radius: 2rem;
    margin: 0 2rem;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: 0.4s ease-in-out;    
}

.projetos-conteudo:hover{
    border: 3px solid var(--main-color);
    transform: translateY(-10px)scale(1.03);
    box-shadow: 0 0 50px var(--main-color);
}

.projetos-conteudo h2{
    font-size: 2.8rem;
}

.projetos-conteudo p {
    font-size:  1.3rem;
}

/*  */

/* CONTATO */
.contato{
    background-color: var(--bg-color);
}

.contato h2{
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: white;
}

.contato form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin: 5rem auto;
    text-align: center;
}

.contato form .container-input-b{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contato form .container-input-b input,
.contato form textarea{
    width: 100%;
    padding: 2.5rem;
    font-size: 1.8rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 2rem;
    border:  2px solid var(--main-color);
    margin: 1.5rem 0;
    resize: none;
}

.contato form .btn{
    margin-top: 2rem;
}

.container-input-b input:focus{
    box-shadow: 0 0 25px var(--main-color);
    transition: 0.3s;
}
/*  */

.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--second-bg-color);
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: var(--main-color);
}

.footer .social a{
    font-size:  25px;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover{
    transform: scale(1.2)translateY(-10px);
    background-color: var(--main-color);
    color: black;
    box-shadow: 0 0 25px var(--main-color)
}

.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease-in-out;
}
.footer ul li a:hover{
    border-bottom: 3px solid var(--main-color);
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}






















/*  */